<div mat-dialog-title
	class="title">
	<mat-icon color="accent">{{ data.item.icon }}</mat-icon>
	<h5>{{ data.item.name }}</h5>
</div>
<div mat-dialog-content>
	Description:
	<span>{{ data.item.description }}</span>
</div>
<mat-dialog-actions *ngIf="!data.hideActions"
	align="end">
	<button mat-raised-button
		color="warn"
		(click)="matDialogRef.close()">Cancel</button>
	<button mat-raised-button
		color="accent"
		[disabled]="!data.canAction || data.player.currency < data.item.cost"
		(click)="buy()">Buy {{ data.item.cost }}gp</button>
</mat-dialog-actions>