<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content class="dialog-container">
	<form [formGroup]="passwordChangeForm"
		class="form">
		<mat-form-field appearance="outline">
			<mat-label>Current Password</mat-label>
			<input matInput placeholder="Current Password"
			required formControlName="currentPassword">
			<mat-error *ngIf="passwordChangeForm.get('currentPassword').errors?.required">
				Current password is required
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>New Password</mat-label>
			<input matInput placeholder="New Password"
			required formControlName="newPassword">
			<mat-error *ngIf="passwordChangeForm.get('newPassword').errors?.required">
				New password is required
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Confirm New Password</mat-label>
			<input matInput placeholder="Confirm New Password"
			required formControlName="newPasswordConfirm">
			<mat-error *ngIf="passwordChangeForm.get('newPasswordConfirm').errors?.required">
				Confirm new password is required
			</mat-error>
		</mat-form-field>
	</form>
	<div class="button-container">
		<button mat-button (click)="dialogRef.close()">Cancel</button>
		<button mat-button color="primary">Submit</button>
	</div>
</div>