.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dialog-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}