.hp-text {
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
}

.hp-text span {
	font-size: 12px;
}

img {
	width: 100px;
	height: 100px;
}

button {
	transform: scale(.65);
}

.player-container {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
