.title-name {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 180px;
	height: 40px;
	border-left: 1px solid rgb(224, 224, 224);
	border-top: 1px solid rgb(224, 224, 224);
	box-shadow: 5px 6px rgb(219, 219, 219);
	margin-bottom: 12px;
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
}

.button-container {
	transform: scale(.65);
	align-self: flex-end;
	margin: -8px;
}

.small-icon mat-icon {
	transform: scale(.80);
}

.hp-text {
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
}

.hp-text span {
	font-size: 12px;
}

.active {
	background-color: lawngreen;
}

.not-active {
	background-color: indianred;
}
