<div class="detail-container">
	<div class="player-container">
		<ng-container *ngIf="enemy; else myPlayer">
			<img src="../../../../../assets/imgs/enemy_Char.png">
		</ng-container>
		<ng-template #myPlayer>
			<img src="../../../../../assets/imgs/player_Back.png">
		</ng-template>
		<button *ngIf="showOtherData"
			mat-mini-fab
			(click)="openDetails()"
			color="primary">
			<mat-icon class="small-icon">info</mat-icon>
		</button>
	</div>
	<span [class.player-name]="myTurn">{{ player.player.name }}</span>
	<mat-progress-bar [value]="player?.health" color="warn"></mat-progress-bar>
	<div class="hp-text">
		<span>HP: {{ player.health }}</span>
	</div>
</div>