.hp-text {
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
}

.hp-text span {
	font-size: 12px;
}

img {
	width: 100px;
	height: 100px;
}

button {
	transform: scale(.65);
}

mat-progress-bar {
	margin-top: 4px;
}

.player-container {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.player-name {
	border-radius: 50px;
	padding: 3px;
	animation: flash 3s infinite;
}

@keyframes flash {
	from {
		color: black;
		background-color: none;
	}

	to {
		color: white;
		background-color: #035f00;
	}
}
