.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px;
}

.bottom-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.button span {
	margin-top: 4px;
}

.button-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.shop-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-coins {
	padding: 0 8px;
	display: flex;
	background-color: grey;
}

.player-coins h5:first-child {
	margin-right: 4px;
}

.coins {
	color: gold;
}

.cheat-div {
	/* background-color: lawngreen; */
	width: 20px;
	height: 20px;
	margin: auto;
}

.center-text {
	text-align: center;
}
