<div *ngIf="actionData.player.player"
	class="player-health">
	<span>Health: {{ actionData.player.health }}</span>
	<mat-progress-bar [value]="actionData.player?.health" color="warn"></mat-progress-bar>
</div>
	

<div *ngIf="!showShop">
	<h1 mat-dialog-title
		class="center-text">Perform an Action</h1>
	<div mat-dialog-content>
		<h5 class="center-text">Coins: {{ actionData.player.currency }}</h5>
		<div class="button-container">
			<div class="button">
				<button mat-mini-fab
					[disabled]="!actionData.canAction"
					(click)="attack()"
					color="primary">
					<mat-icon>gavel</mat-icon>
				</button>
				<span>Attack</span>
			</div>
	
			<div class="bottom-buttons">
				<div class="button">
					<button mat-mini-fab
						color="primary"
						(click)="shop()">
						<mat-icon>shopping_bag</mat-icon>
					</button>
					<span>Shop</span>
				</div>
		
				<div class="button">
					<button mat-mini-fab
						[disabled]="!actionData.canAction"
						color="primary"
						(click)="earnCoin()">
						<mat-icon>paid</mat-icon>
					</button>
					<span>Earn</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="showShop">
	<div mat-dialog-title
		class="shop-title">
		<h1>Shop</h1>
		<div class="player-coins">
			<h5>Coins: </h5>
			<h5 class="coins">{{ actionData.player.currency }} gp</h5>
		</div>
	</div>
	<div mat-dialog-content>
		<shop [player]="actionData.player"
			[canAction]="actionData.canAction || actionData.openShopDirectly"></shop>
	</div>
	<mat-dialog-actions align="end">
		<!-- <div class="cheat-div"
			(dblclick)="openCheatMenu()"></div> -->
		<button mat-raised-button
			(click)="showShop = false"
			color="primary">Continue</button>
	</mat-dialog-actions>
</div>