.login-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

mat-card {
	width: 60%;
}

.big {
	max-width: 100px;
	word-wrap: break-word;
}

mat-card-header {
	display: flex;
	justify-content: center;
}

mat-card-content {
	display: flex;
    justify-content: center;
}

form {
	width: 100%;
	display: flex;
    flex-direction: column;
}

.create-or-login {
	display: flex;
	justify-content: center;
	font-size: 12px;
	cursor: pointer;
	color: #9374c9;
	font-weight: 500;
}

.password-error {
	color: #f44336;
	font-size: 75%;
    margin-top: -13px;
}

.password-container ::ng-deep .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
	display: flex;
}

.password-error-container {
	text-align: center;
}

.password-error-container span {
	color: red;
	font-size: 12px;
}
