@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	margin: 0;
	overflow: hidden;

	font-family: "Lucida Console", "Courier New", monospace;
}

.card-top-margin {
	margin-top: 24px;
}