<div class="game-winodw">
	<div *ngIf="showShareId"
		class="id-container">
		<div>Give this ID to your friend:</div>
		<span id="idText">{{id}}</span>
		<div *ngIf="!isStatsDialogOpen"
			class="loading-spinner">
			<mat-spinner [diameter]="80"></mat-spinner>
			<span>Waiting for player to load in...</span>
		</div>
	</div>
	<div *ngIf="showStartGameButton"
		class="center-flex-column">
		<button mat-raised-button
			color="primary"
			(click)="showStartDialog()">Start Game</button>
	</div>
	<div *ngIf="showOpponentSelecting"
		class="center-flex-column waiting">
		Your opponent is selecting their stats. Please wait...
		<mat-spinner></mat-spinner>
	</div>

	<!-- GAME STARTED WINDOW -->
	<div *ngIf="game && game.gameStarted && allPlayersAlive"
		class="fight-details">
		<phase-stepper [stepperData]="stepperData"></phase-stepper>
		<div class="players-container">
			<ng-container *ngIf="showOtherPlayersDetails; else noRights">
				<player-details class="opponent-player"
					[enemy]="true"
					[myTurn]="!myTurn"
					[player]="opponent"
					[showOtherData]="true"></player-details>
			</ng-container>
			<ng-template #noRights>
				<player-details class="opponent-player"
					[myTurn]="!myTurn"
					[enemy]="true"
					[player]="opponent"></player-details>
			</ng-template>
			<h4>VS.</h4>
			<player-details class="my-player"
				[enemy]="false"
				[myTurn]="myTurn"
				[player]="myPlayer"
				[showOtherData]="true"></player-details>
		</div>
	</div>

	<!-- GAME OVER -->
	<div *ngIf="game && game.gameOver"
		class="game-over-container">
		<div class="winner-info">
			<h3>{{ gameWinner.name }} Wins!</h3>
			<h5>"{{ gameWinner.winTag }}"</h5>
		</div>
		<div>
			<span class="loser-info">"{{ gameLoser.lossTag }}" - {{ gameLoser.name }}</span>
		</div>
	</div>
</div>

<div class="bottom container">
	<messages [messages]="messages"></messages>
	
	<mat-card class="button-containers">
		<button mat-raised-button
			[disabled]="!game"
			color="primary"
			(click)="openActions(false)">Actions</button>
		<button [disabled]="!game"
			mat-mini-fab
			color="primary"
			(click)="openMessageDialog()">
			<mat-icon>message</mat-icon>
		</button>
	</mat-card>
</div>