mat-card {
	display: flex;
	justify-content: space-evenly;
}

button {
	font-size: large;
}

.id-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-bottom: 8px;
}

#idText {
	background-color: lightsteelblue;
	padding: 4px;
}

.center-flex-column {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 16px;
}

.waiting {
	padding: 16px;
}

.game-winodw {
	height: 58vh;
}

.game-started-window {
	height: 100%;
}

.fight-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fight-details {
	height: 100%;
}

.game-over-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.winner-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: green;
}

.loser-info {
	font-size: small;
	color: red;
}

.loading-spinner {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 8px;
}

.loading-spinner span {
	font-size: 12px;
	margin-top: 8px;
}

.players-container {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.players-container h4 {
	align-self: center;
}

.opponent-player {
	align-self: flex-end;
}

.my-player {
	align-self: flex-start;
}
